@media screen and (max-width: 600px){
.head{
    display: none;
}
.mai{
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 4px;
}
.aim{
    width: 80%;
}
.devc{
    p{
        width: 100%;
    }
    b{
        width: 100%;
    }
    button{
        margin-left: 1px;
    }
}

.aim-0{
    width: 80%;
}
.develop{
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dev{
    width: 80%;
}
.devc{
    width: 80%;
}
.ser{
    flex-direction: column;
}
.serr{
    width: 80%;
}
.skil-0{
    p{
        font-size: 16px;
    }
}
.port{
    flex-direction: column;
}
.por{
    width: 80%;
}
.con{
    flex-direction: column;
}
.con-0{
    width: 80%;
}
.con-1{
    width: 80%;
}
.mes{
    margin-left: 150px;
    input::placeholder{
        margin-left: 20px;
    }
}
}